In [1]:
import pandas as pd
import numpy as np

In [2]:
ship = pd.read_csv("./shipments.csv")
po = pd.read_csv("./po_bookings.csv")
cong = pd.read_csv("./consignees.csv")
cont = pd.read_csv("./containers.csv")
sup = pd.read_csv("./suppliers.csv")

In [3]:
sup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2047 entries, 0 to 2046
Data columns (total 5 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   supplier_company_id                2047 non-null   int64
 1   supplier_country_code              2047 non-null   object
 2   supplier_in_east_china             2047 non-null   object
 3   supplier_in_south_china            2047 non-null   object
 4   bookings_feature_first_enabled_at  601 non-null    object
dtypes: int64(1), object(4)
memory usage: 80.1+ KB

In [6]:
len(sup.supplier_company_id.unique())

2047

In [23]:
cong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   consignee_company_id      34 non-null     int64
 1   consignee_market_segment  34 non-null     object
 2   consignee_created_at      34 non-null     object
dtypes: int64(1), object(2)
memory usage: 944.0+ bytes

In [7]:
len(cong.consignee_company_id.unique())

34

In [24]:
cont.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5400 entries, 0 to 5399
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   shipment_id            5400 non-null   int64
 1   container_id           5400 non-null   int64
 2   container_type         5390 non-null   object
 3   container_size         5400 non-null   object
 4   volume_cbm             5400 non-null   float64
 5   weight_kg              5400 non-null   float64
 6   container_utilization  5400 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 295.4+ KB

In [8]:
print(len(cont.shipment_id.unique()))
print(len(cont.container_id.unique()))

3533
5395

In [28]:
cont.container_type.value_counts()

Dry           5363
Ventilated      25
Flat Rack        1
Open             1
Name: container_type, dtype: int64

In [15]:
po.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26085 entries, 0 to 26084
Data columns (total 16 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   purchase_order_id                          26085 non-null  int64
 1   shipment_id                                26085 non-null  int64
 2   container_id                               4556 non-null   float64
 3   product_id                                 26085 non-null  int64
 4   consignee_company_id                       26085 non-null  int64
 5   supplier_company_id                        26085 non-null  int64
 6   purchase_order_created_date                26085 non-null  object
 7   purchase_order_requested_cargo_ready_date  25746 non-null  object
 8   purchase_order_requested_delivery_date     25444 non-null  object
 9   booking_created_date                       26085 non-null  object
 10  booking_cargo_ready_date                   25870 non-null  object
 11  purchase_order_sku_count                   26085 non-null  int64
 12  purchase_order_sku_price                   22750 non-null  float64
 13  booking_sku_count                          26085 non-null  int64
 14  shipped_sku_count                          9124 non-null   float64
 15  shipped_sku_price                          9124 non-null   float64
dtypes: float64(4), int64(7), object(5)
memory usage: 3.2+ MB

In [12]:
ship.bco.value_counts()

f    7489
t      91
Name: bco, dtype: int64

In [9]:
len(po.purchase_order_id.unique())

3196

In [11]:
len(po.product_id.unique())

11879

In [10]:
po.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26085 entries, 0 to 26084
Data columns (total 16 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   purchase_order_id                          26085 non-null  int64
 1   shipment_id                                26085 non-null  int64
 2   container_id                               4556 non-null   float64
 3   product_id                                 26085 non-null  int64
 4   consignee_company_id                       26085 non-null  int64
 5   supplier_company_id                        26085 non-null  int64
 6   purchase_order_created_date                26085 non-null  object
 7   purchase_order_requested_cargo_ready_date  25746 non-null  object
 8   purchase_order_requested_delivery_date     25444 non-null  object
 9   booking_created_date                       26085 non-null  object
 10  booking_cargo_ready_date                   25870 non-null  object
 11  purchase_order_sku_count                   26085 non-null  int64
 12  purchase_order_sku_price                   22750 non-null  float64
 13  booking_sku_count                          26085 non-null  int64
 14  shipped_sku_count                          9124 non-null   float64
 15  shipped_sku_price                          9124 non-null   float64
dtypes: float64(4), int64(7), object(5)
memory usage: 3.2+ MB

In [28]:
po['pk'] = [''.join(i) for i in zip(po.purchase_order_id.map(str),po.shipment_id.map(str),po.product_id.map(str),po.container_id.map(str))]

In [34]:
po['order_money'] = po.purchase_order_sku_count*po.purchase_order_sku_price
po['shipped_money'] = po.shipped_sku_count*po.shipped_sku_price

In [37]:
test = po.groupby("consignee_company_id", sort=False)['order_money'].sum()

In [39]:
test2 = po.groupby("consignee_company_id", sort=False)['shipped_money'].sum()

In [38]:
test

consignee_company_id
683679    1.400917e+08
546609    5.922229e+08
656536    7.843536e+07
730503    1.262905e+08
678526    7.978584e+06
728908    5.694858e+06
668418    1.071115e+06
740182    1.318741e+07
594248    3.538786e+06
674105    4.029848e+06
2548      6.995871e+05
654884    0.000000e+00
682827    6.577664e+05
Name: order_money, dtype: float64

In [40]:
test2

consignee_company_id
683679    8.718696e+08
546609    3.720933e+08
656536    1.464675e+06
730503    6.029564e+07
678526    0.000000e+00
728908    1.852672e+06
668418    0.000000e+00
740182    0.000000e+00
594248    0.000000e+00
674105    2.318478e+06
2548      0.000000e+00
654884    0.000000e+00
682827    7.038962e+05
Name: shipped_money, dtype: float64

In [30]:
po.pk

0        422005596013107426201144.0
1              41131085671074767nan
2             484945968483105268nan
3        484885864403107794222360.0
4              99953124251584749nan
                    ...
26080    177884573301063165132948.0
26081         101093124251584752nan
26082         270715799952829881nan
26083         411566090771386623nan
26084         434085908882948389nan
Name: pk, Length: 26085, dtype: object

In [32]:
len(ship.shipment_id.unique())

7580

In [43]:
ship.freight_service.value_counts()

CY to CY        4000
CFS to CFS      3485
CY to Door        66
Door to CY        22
Door to Door       7
Name: freight_service, dtype: int64

In [44]:
ship.incoterms.value_counts()

FOB    5674
EXW     871
FCA     596
DDP     198
DAT      86
DAP      45
CIF      38
CFR      10
CPT       5
Name: incoterms, dtype: int64

In [33]:
ship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7580 entries, 0 to 7579
Data columns (total 33 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   shipment_id                              7580 non-null   int64
 1   shipment_created_in_system_date          7580 non-null   object
 2   mode                                     7580 non-null   object
 3   bco                                      7580 non-null   object
 4   freight_service                          7580 non-null   object
 5   freight_type                             7580 non-null   object
 6   incoterms                                7523 non-null   object
 7   contains_dangerous_goods                 7576 non-null   object
 8   supplier_company_id                      7580 non-null   int64
 9   consignee_company_id                     7580 non-null   int64
 10  supplier_lat                             7556 non-null   float64
 11  supplier_lng                             7556 non-null   float64
 12  departure_port                           7575 non-null   object
 13  arrival_port                             7577 non-null   object
 14  inland_port                              1086 non-null   object
 15  consignee_final_destination_lat          7344 non-null   float64
 16  consignee_final_destination_lng          7344 non-null   float64
 17  tradelane                                7580 non-null   object
 18  freight_carrier                          7484 non-null   object
 19  actual_cargo_ready_date                  7577 non-null   object
 20  scheduled_departure_port_departure_date  6878 non-null   object
 21  actual_departure_port_departure_date     7191 non-null   object
 22  scheduled_arrival_port_arrival_date      7490 non-null   object
 23  actual_arrival_port_arrival_date         6993 non-null   object
 24  scheduled_inland_port_arrival_date       1063 non-null   object
 25  actual_inland_port_arrival_date          922 non-null    object
 26  scheduled_delivery_date                  7215 non-null   object
 27  actual_delivery_date                     6579 non-null   object
 28  includes_customs                         7580 non-null   object
 29  target_net_revenue                       7534 non-null   float64
 30  estimated_total_cost                     7580 non-null   float64
 31  actual_total_cost                        7580 non-null   float64
 32  actual_total_invoice                     7580 non-null   float64
dtypes: float64(8), int64(3), object(22)
memory usage: 1.9+ MB